################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea/.idea.Pife/.idea
/.vs
/PifPafCLI/bin
/PifPafCLI/obj
